@model IEnumerable<Product>
<!--Admin Area-->
@{
    ViewData["Title"] = "Товары";
}

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Id)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Name)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Price)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().ImageUrl)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Brand)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Category)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Order)</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Price)</td>
            <td>@Html.DisplayFor(modelItem => item.ImageUrl)</td>
            <td>@Html.DisplayFor(modelItem => item.Brand.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Category.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Order)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>