@model WebShopSOA.Domain.ViewModels.EmployeeView

    <h2>Сотрудник с Id = @Model.Id</h2>
    <div>
        <table>
            <tr>
                <td style="text-align:right;font-weight:800;">Фамилия: </td>
                <td>@Model.LastName</td>
            </tr>
            <tr>
                <td style="text-align:right;font-weight:800;">Имя: </td>
                <td>@Model.FirstName</td>
            </tr>
            <tr>
                <td style="text-align:right;font-weight:800;">Отчество: </td>
                <td>@Model.Patronymic</td>
            </tr>
            <tr>
                <td style="text-align:right;font-weight:800;">Возраст: </td>
                <td>@Model.Age лет.</td>
            </tr>
        </table>
        <div style="margin:3px;padding:10px;width:60px;height:auto;color:white;background-color:aquamarine;text-align:center;vertical-align:middle;border-radius:5px;box-shadow:grey 3px 3px">@Html.ActionLink("Назад", "Index")</div>
    </div>
